<!DOCTYPE html>
<html>
  <head>
    <title>Express Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flights</h1>
    <p>Welcome to Flights</p>
    <a href="/flights">Flight List</a>
    || 
    <a href="/flights/new">New Flight</a> 
  </body>
</html>
